<!DOCTYPE html>
<html>
  <head>
    <title>CRMChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>

  <body>
  <header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Customers
          </a>
          <a class="navbar-item" href="/alphabetized">
            Sort by Name
          </a>
          <a class="navbar-item" href="/missing_email">
            Missing Email Address
          </a>


        </div>
      </div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
